/*************************************Variables*********************************/
:root {
    --color-black:rgb(0,0,0);
    --color-white:rgb(255,255,255);
    --color-red:rgb(255,0,0);
    --color-grey:rgb(180,180,180);
    --color-grey-soft:rgb(161, 161, 161);
    --color-grey-middle:rgb(125, 115, 125);
    --color-grey-light:rgb(197, 196, 237);
    --color-blue-hard:rgb(14, 19, 73);
    --color-bgc-button:rgb(60,59,135);
}
/*************************************Globals Selector*****************************/
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}
main :is(h1,h2,h3,h4,h5){
    text-align:center;
    margin: 1rem;
}
table {
    border-collapse:collapse;
    border: 0.06rem solid var(--color-black);
    text-align:center; 
    margin:0 auto;
}
main :is(tr, td, th){
    border: 0.06rem solid var(--color-black);
}
:any-link {
    text-decoration:none;
}
h1 {
    font-size: 1.7rem;
}
h2 {
    font-size: 1.45rem;
}
hr {
    width: 80%;
    margin: 1.25rem auto;
}
label {
    display:block;
    font-size: 1rem;
}
input {
    width: 13.625rem;
    height: 2.2rem;
    margin: 1.2rem;
}
input:invalid {
    background-color: rgba(60,59,135, .3);
}
input[type="radio"] {
    width: 0.9rem;
    height: 0.9rem;
}
input[type="file"] {
    width: 9rem;
    height: 1.8rem;
    margin-bottom: 0.6rem;
}
input[name="token"] {
    display: none;
}
::placeholder {
    color: var(--color-bgc-button);
}
.hidden {
    display:none !important;
}
.img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.button {
	padding: 0.4rem 0.5rem;
	background-color: var(--color-bgc-button);
	color: var(--color-white);
	cursor: pointer;
}
.button-a {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    width: 13.625rem;
    height: 2.3rem;
    border: 0.125rem outset #7a7474;
    margin: 1.25rem auto;
}
.message {
    text-align:center;
    color: var(--color-red);
    font-weight: bold;
}
/*******************************Globals Dimension*******************************/
.dim200 {
    width: 9.5rem;
}
.dim100 {
    width: 15rem;
    height: 7rem;
}
.dim80 {
    width: 5rem;
    height: 5rem;
}
.dim60 {
    width: 3.75rem;
    height: 3.75rem;
}
.dim50 {
    width: 3.125rem;
    height: 3.125rem;
}
.dim40 {
    width: 2rem;
    height: 2rem;
}
.dim35 {
    width: 1.8rem;
    height: 1.8rem;
}
.dim20 {
    width: 1.25rem;
    height: 1.25rem;
}
.dim10 {
    width: 0.63rem;
    height: 0.63rem;
}
/*******************************************************************************/
/************************************TEMPLATE***********************************/
/*******************************************************************************/
/*************Header****************/
/***********************************/
.header {
    height: 8.5rem;
    background-image: url("../pictures/site/hommage.jpg");
    background-size: cover;
}
.header__title {
    display: flex;
    justify-content: center;
} 
.header__title-h1 {
    text-shadow: 0 0 0.188rem white;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2.813rem;
    color: var(--color-blue-hard);
}
/***********************************/
/**************Nav******************/
/***********************************/
.nav__bar {
    width: 9rem;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -9rem;
    background-color: var(--color-white);
    padding-top: 1.25rem;
    transition: right 0.5s ease;
}
.nav__bar-a {
    padding: 0.4rem;
    font-size: 1.1rem;
    color: var(--color-bgc-button);
    display: block;
    transition: all 0.3s;
}
.nav__bar-a:hover {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-bgc-button);
}
.nav__bar ul {
    list-style: none;
}
.nav__bar.status {
    position:absolute;
    right: 0rem;
}
.nav__bar-a.close{
    position: absolute;
    top: 0rem;
    right: 0.2rem;
    font-size: 2rem;
}
.open {
    position: absolute;
    text-align: center;
    top: 3.2rem;
    right: 0.5rem;
}
.nav__bar-open-span {
    display: block;
    width: 2rem;
    height: 0.260rem;
    margin: 0.375rem 0;
    background-color: var(--color-white);
}
.nav__bar-open-p {
    font-size: .8rem;
    color: var(--color-white);
}
/***********************************/
/****************MAIN***************/
/***********************************/
#main__begin {
    background-color: var(--color-bgc-button);
}
/***********************************/
/***************FOOTER**************/
/***********************************/
.footer {
    display:flex;
    justify-content: space-around;
    color: var(--color-white);
    background-color: var(--color-bgc-button);
}
.footer__menu, 
.footer__network {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin:0.6rem;
    height: 5rem;
}
.footer__network {
    align-items:flex-end;
}
.footer__menu-a {
    color: var(--color-white);
}
.fa-facebook-square, 
.fa-instagram-square, 
.fa-twitter-square{
    margin: 0.1rem;
    color: var(--color-white);
}
/*******************************************************************************/
/***********************************HOME****************************************/
/*******************************************************************************/
.home {
    width: 90%;
    margin: 3rem auto;
}
.home h1 {
    margin-bottom: 2rem;
}
.home p {
    font-family: 'Abel', sans-serif;
}
.home__intro {
    margin:0 auto;
    width: 95%;
    text-align:center;
}
.home__intro h4, 
.home__ntro h5 {
    margin: 0.3rem;
    line-height: 0.1rem;
}
.home__article {
    text-align: justify;
    font-size: 1.2rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
}
.home__article p {
    margin-top: 2rem;
}
.home__title {
    margin:2rem;
}
.home__container_photo {
    display:flex;
    flex-direction: column;
    margin: 1rem;
}
.home__photo {
    width: 90%;
    height: 18.75rem;
    margin: 0 auto;
}
.home__text {
    text-align:justify;
    width: 88%;
    margin: 1.25rem auto;
}
.home__button {
    text-align:center;
}
.home__explain {
    margin:1.563rem;
}
.home__explain-p {
    text-align: justify;
    padding: 0.63rem;
    margin-bottom: 1.563rem;
}
.home__input {
    text-align:center;
}
.home__input label:nth-child(6){
    margin-bottom:2.688rem;
}
.home__slider, 
.home_user__slider{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 1.25rem;
}
.home__slider h1, 
.slider {
    width: 90%;
}
.slick-slide, 
.home__slick, 
.home_user__slick {
    height: 9.5rem;
}
/*******************************************************************************/
/*********************************CONNEXION*************************************/
/*******************************************************************************/
.connexion__title {
    margin: 1.25rem;
}
.connexion__form {
    text-align:center;
    margin-bottom:1.25rem;
}
.connexion__buttons {
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items: center;
    line-height:1rem;
}
/*******************************************************************************/
/************************************LOST***************************************/
/*******************************************************************************/
.lost__form {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin:1.25rem;
}
/*******************************************************************************/
/***********************************PROFIL**************************************/
/*******************************************************************************/
.profil {
    text-align:center;
}
.profil__title, 
.profil__name {
    margin: 1.25rem;
}
.profil__form {
    text-align: center;
    margin-bottom: 1.25rem;
}
.profil__form_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil__form h3 {
    margin: 1.25rem;
}
.profil__admin, 
.profil__change {
    width: 60%;
    border: 0.063rem solid var(--color-black);
    padding: 0.5rem;
    margin: 1.25rem auto;
}
.profil__message {
    font-size: 0.8rem;
    margin-top: -1rem;
}
.profil__message + p{
    margin: 1rem;
}
.profil__modify {
    position: relative;
    margin: 0.5rem;
}
.profil__modify_icon {
    position: absolute;
    top: 0rem;
    right: 0.8rem;
}
.profil__change {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil__unsubscribe {
    margin: 2rem;
    color: var(--color-red);
}
.profil__unsubscribe h4 {
    text-align: justify;
}
input[name="new_user"], input[name="new_admin"]{
    width: 11rem;
}
/*******************************************************************************/
/********************************REGISTRATION***********************************/
/*******************************************************************************/
.register {
    text-align: center;
}
.register__title {
    margin: 1.25rem;
}
.register__pwd {
    font-size: 0.7rem;
}
/*******************************************************************************/
/***********************************SEARCH**************************************/
/*******************************************************************************/
.search, 
.search__title, 
.search__insee {
    text-align: center;
    margin: 1.25rem;
}
.search select {
    display: block;
    margin: 0 auto;
}
.search__identity {
    display:flex;
    justify-content: center;
    flex-wrap :wrap;
    width: 80%;
    margin: 0 auto;
}
.search__img {
    display: flex;
    flex-direction:column;
    height: 12.5rem;
    width: 9.375rem;
    margin: 1rem;
    color: var(--color-black);
}
.search__identity a {
    text-align: center;
    color: var(--color-white);
}
.search__result_insee {
    width: 80%;
}
.search__defunct {
    display: flex;
    justify-content: center;
    text-align: center;
}
.search__defunct a {
    color: var(--color-black);
}

/*******************************************************************************/
/*************************************BUY***************************************/
/*******************************************************************************/
.buy {
    width: 90%;
    margin: 0 auto;
    text-align:center;
}
.buy__form {
    margin: 1.25rem auto;
}
.buy__message {
    text-align:center;
}
.buy__empty {
    text-align:center;
    font-size: 1.8rem;
}
.buy__table, 
.table_death, 
.flower__table {
    width: 90%;
    margin: 1.25rem auto;
}
.buy__content {
    overflow-x: scroll;
    height: 3.1rem;
}
.buy__table tr:nth-child(odd) {
    background-color: var(--color-grey-light);
}

/*******************************************************************************/
/************************************CARD***************************************/
/*******************************************************************************/
/*****Editor Card*****/
.card h2 {
    font-size: 1rem;
}
.card__editor {
    width: 90%;
    margin:0 auto;
}
.card__editor_main {
    text-align:center;
    border: 0.063rem solid var(--color-grey-middle);
}
.card__editor_header {
    background-color: var(--color-grey-light);
}
.editor_header .card__edit {
    margin-right:0.313rem;
    border:none;
    background-color: transparent;
    cursor:pointer;
}
.main_content {
    position:absolute;
    width: 18.75rem;
    top:50%;
    left:50%;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    transform:translateY(-50%);
}
.content {
    min-height:25rem;
    border: 0.06rem solid var(--color-grey-light);
    padding: 0.625rem;
    z-index:1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/**********/
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align:center;
    width: 90%;
    margin: 0 auto;
}
.card h1+h2{
    width: 100%;
    margin:1.25rem;
}
.card__radio {
    margin: 1.25rem 0rem -1.25rem 0.313rem
}
.card__item {
    display:flex;
    flex-direction: column;
    width: 38%;
    margin: 0.63rem;
    border: 0.063rem solid var(--color-grey-middle);
   /* overflow: hidden;*/
}
.card__image {
    transition: 1s all;
}
.card__image:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.card__image .img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card__select_img {
    z-index:2;
}
.card__form {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}
.card__no_user {
    text-align:center;
    margin: 1.25rem;
}
.card__info {
    text-align:center;
    margin: 1.563 auto;
}
.card__info input{
    width: 3.125rem;
}
.card__address, 
.min_nophoto {
    font-size: 1.25rem;
}
.card__table {
    width: 90%;
}
.card__table tr:nth-child(odd) {
    background-color: var(--color-grey-light);
}
.card__tab {
    width: 75%;
}
.card__price {
    width: 25%;
}

/*******************************************************************************/
/***********************************FLOWER**************************************/
/*******************************************************************************/
.flower {
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}
.flower__article {
    font-size: 1rem;
    text-align: justify;
    margin: 1.875rem;
}
.flower__form {
    margin: 1rem;
}
.flower__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-bottom: 1.5rem;
}
.flower__container input[type="checkbox"] {
    width: 1.25rem;
    margin: 0rem;
}
select[name="select_def"] {
    margin: 1.25rem auto;
}
.flower_price {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container_flower_dest {
    text-align:center;
    margin: 1.8rem;
}
.container_flower_tab  {
   text-align:center; 
}
#select_name_defunct {
    text-align:center;
    width: 12.5rem;
}
.fleur1 {
    grid-column:1;
    grid-row:1;
}
.fleur2 {
    grid-column:2;
    grid-row:1;    
}
.fleur3 {
    grid-column:1;
    grid-row:2;    
}
.fleur4 {
    grid-column:2;
    grid-row:2;    
}
.fleur5 {
    grid-column:1;
    grid-row:3;     
}
.fleur6 {
    grid-column:2;
    grid-row:3;     
}
.fleur7 {
    grid-column:1;
    grid-row:4;     
}
.fleur8 {
    grid-column:2;
    grid-row:4;     
}
.fleur9 {
    grid-column:1;
    grid-row:5;     
}
.fleur10 {
    grid-column:2;
    grid-row:5;     
}
.fleur11 {
    grid-column:1;
    grid-row:6;     
}
.fleur12 {
    grid-column:2;
    grid-row:6;     
}
.fleur13 {
    grid-column:1;
    grid-row:7;     
}
.fleur14 {
    grid-column:2;
    grid-row:7;     
}
.fleur15 {
     
}
/*******************************************************************************/
/*******************************MODIFYFORM**************************************/
/*******************************************************************************/
.modifydef {
    text-align: center;
}
.modifydef__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
#modify__photo {
    position: absolute;
    left: -100rem;
}
input[name="photodef"]{
    margin: 1rem auto;
}
/*******************************************************************************/
/***********************************TCHAT***************************************/
/*******************************************************************************/
.tchat {
    position:relative;
    width: 80%;
    margin: 3rem auto;
}
.tchat__message {
   text-align: center;
}
.delete_user {
    position:absolute;
    top: -1rem;
    right: -1rem;
}
.tchat__box {
    display:flex;
    text-align:center;
    justify-content: center;
}
.tchat__dest {
    line-height: 4rem;
    margin: 2rem 0rem 0rem;
    background-color: var(--color-bgc-button);
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    color: var(--color-white);
}
.tchat__recipient {
    position:relative;
    width: 35%;
    border-bottom-left-radius: 13.75rem;
    overflow:hidden;
}
.tchat__container {
    text-align:left;
    overflow: scroll;
    width: 65.5%;
    height: 25rem;
    padding: 0.5rem;
    border:0.063rem solid var(--color-black);
    border-bottom-right-radius: 1.875rem;
}
.tchat__friend,
.tchat__return,
.tchat__date {
    font-family: 'Abel', sans-serif;
}
.tchat__user {
    text-align:center;
}
#content_tchat {
    border-radius:1.25rem;
    width: 85%;
    padding-left: 1rem;
}
.tchat__date {
    font-size: 0.75rem;
    margin: 0.313rem 0rem 0.63rem;
}
.tchat__return {
    text-align:right;
    padding: 0.125rem 0.5rem;
    border-radius: 1.125rem 1.125rem 0rem 1.125rem;
    background-color: var(--color-bgc-button);
    color: var(--color-white);
}
.tchat__friend {
    padding: 0.125rem 0.5rem;
    border-radius: 1.125rem 1.125rem 1.125rem 0rem;
    background-color: var(--color-grey-light);
}
.online, 
.offline {
    position: absolute;
    top: 0.313rem;
    left: 0.313rem;
    width: 0.938rem;
    height: 0.938rem;
    background-color: rgb(84, 191, 42);
    border-radius: 1.25rem;
}
.offline {
    background-color: var(--color-red);
}
/*******************************************************************************/
/********************************ENVIRONMENT************************************/
/*******************************************************************************/
.env {
    position: relative;
    margin: 3.125rem;
}
.env__link {
    position: absolute;
    top: -3rem;
    right: -3rem;
}
.env__new_link {
    position: absolute;
    top: 1rem;
    right: 2.9rem;
    font-size: 0.7rem;
    line-height: 1.1rem;
    padding: 0.8rem;
    border: 0.1rem solid var(--color-black);
    border-radius: 1.2rem;
    background-color: var(--color-grey-light);
}
.env__title {
    margin: 1.25rem;
}
.env__date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.env__folder_link {
    text-align:center;
    color: var(--color-black);
}
.env__folder {
    width: 6.375rem;
    height: 6.375rem;
    margin: 0.63rem auto;
}
.env__photos_list {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 80%;
    margin: 0 auto;
    padding: 0.63rem;
    border: 0.2rem solid var(--color-bgc-button);
}
.env__min_photo {
    text-align: center;
    width: 4.25rem;
    height: 4.25rem;
    margin: 1.25rem;
    transition: 1s all;
}
.env__min_photo:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.env__listing {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.env__listing span {
    color:var(--color-red);
}
.new_comments, 
.new_photos {
    font-size: 1rem;
}
.env__container {
    width: 80%;
    margin: 0 auto;
}
.env__warning {
    color: var(--color-red);
    animation: clignote 1s linear infinite;
}
@keyframes clignote {  
  50% { opacity: 0.5; }
}
.env__container_photos {
    position:relative;
    border: 0.3rem solid var(--color-bgc-button);
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    margin:1rem auto 2rem;
}
.env__delete_photo {
    position: absolute;
    right: 0.063rem;
    padding: 0.125rem;
    margin: 0.313rem;
    color: var(--color-black);
}
.env__comment_post {
    position: relative;
}
.container_com_user {
    position: relative;
    display:flex;
    align-items: center;
    font-family: 'Abel', sans-serif;
    background-color: var(--color-grey-light);
    border-radius: 1.25rem;
    padding: 0.313rem 0.63rem;
    margin: 0.313rem;
    overflow: hidden;
}
.env__comment_txt {
    width: 90%;
    border-radius: 0.63rem;
    padding: 0.63rem;
}
.icon_delete {
    position: absolute;
    bottom: 0.5rem;
    right: 0.3rem;
}
.new_comment {
    position: absolute;
    right: 0rem;
    top: -0.125rem;
    width: 3.125rem;
    height: 3.125rem;
}
.env__blur_comment {
    filter: blur(0.313rem);
}
.env__blur_photo {
    filter: blur(0.513rem);
}
.env__no_user{
    text-align:center;
}
.env__add_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.875rem;
}
.env__add_photo label:first-child {
    font-size: 0.8rem;
}
.env__add_friend {
    text-align: center;
}
.admin_user {
    position: relative;
}
.friend_add {
    position: absolute;
    top: 0rem;
    right: 3rem;
}
.friend_mess {
    text-align:center;
    color:var(--color-red);
    font-weight: bold;
}
.env__profil {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.9rem;
    border-radius: 3.125rem;
    overflow: hidden;
}
.container_lastP {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem auto;
    justify-content: center;
    width: 90%;
    border: 0.063rem solid black;  
}
.last_photos, 
.last_comment {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0.188rem;
}
.fa-trash-alt {
    font-size: 0.6rem;
    color:var(--color-blue-hard);
}
.fa-ban {
    color: var(--color-red);
}
#file_env {
    position: absolute;
    left: -31.25rem;
}
textarea[name="comment"]{
    width: 28.625rem;
    margin: 0.63rem;
}
label[for="comment"]{
    text-align: center;
    margin-bottom: 1.25rem;
}
/*******************************************************************************/
/************************************USER***************************************/
/*******************************************************************************/
.user {
    position: relative;
    display:grid;
    grid-template-areas: "user title title title" 
        "user . . icon_f";
    grid-template-rows:4.688rem 4.688rem;
    grid-template-columns:25% 25% 25% 25%;
    justify-items: center;
    background-color: rgba(81, 102, 123,.5);
}
.user h3 {
    grid-area:title;
    align-self: end;
}
.user__form {
    position:relative;
}
.user__menu {
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    text-align:center;
    background-color: var(--color-bgc-button);
}
.user__button_menu {
    padding: 0.5rem;
    color: var(--color-white);
}
.user__menu a {
    font-size: 1rem;
}
.user__menu a:nth-child(4){
    padding: 1.1rem;
}
.user__myDefuncts {
    text-align:center;
    font-size: 1rem;
}
.user__list_defuncts {
    position: absolute;
    background-color: var(--color-bgc-button);
    margin: 1.1rem -2rem;
    padding: 0.5rem;
    color: var(--color-white);
    z-index: 10;
}
.user__name_defuncts {
    display:block;
    margin:0.5rem auto;
    color:var(--color-white);
}
.user__name_defuncts:hover {
    color:var(--color-grey-soft);
}
.user__photo {
    grid-area:user;
    margin: 1.25rem 0 0 3rem;
    width: 7.5rem;
    height: 7.5rem;
    border:0.063rem solid var(--color-black);
    border-radius:50%;
    overflow:hidden;
}
.user__camera {
    position: absolute;
    right: -0.625rem;
    bottom: -3.438rem;
    margin-top:1.25rem;
    border-radius: 50%;
    padding: 0.188rem;
}
.user__icons {
    position: absolute;
    display: flex;
    grid-area:icon_f;
    right: 1rem;
}
.user__new {
    display:flex;
}
.user__fix {
    display:flex;
}
.user__mini_icons {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1.25rem 0.3rem;
}
.user__button {
    display:flex;
    justify-content:center;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    background-color: var(--color-bgc-button);
}
.user__icon {
    position: absolute;
    right: -0.625rem;
    bottom: -3.438rem;
    margin-top: 1.25rem;
    border-radius: 50%;
    padding: 0.188rem;
}
.user__ask_friend {
    text-align:center;
    width: 90%;
    margin:1rem auto;
    border-radius: 0rem 0rem 5rem 5rem;
    background: linear-gradient(var(--color-white) 5%, var(--color-bgc-button));
}
.user__ajax {
    border-radius: 1.25rem;
}
#photo_user {
    position:relative;
    left:-31.25rem;
}
/*****Animation icones Ajout Contact et Message*****/
.number_f, 
.number_m {
    position:absolute;
    color:var(--color-red);
    font-weight: bold;
    left: 1.5rem;
}
.icon_anim {
    animation: myIcons 2s ease 0s infinite normal none;
}
@keyframes myIcons {
	0% {
		animation-timing-function: ease-out;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		transform-origin: center center;
	}
	10% {
		animation-timing-function: ease-in;
		-moz-transform: scale(0.88);
		-webkit-transform: scale(0.88);
		transform: scale(0.88);
	}
	17% {
		animation-timing-function: ease-out;
		-moz-transform: scale(0.98);
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
	}
	33% {
		animation-timing-function: ease-in;
		-moz-transform: scale(0.85);
		-webkit-transform: scale(0.85);
		transform: scale(0.85);
	}
	45% {
		animation-timing-function: ease-out;
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
}


/*******************************************************************************/
/**********************************HOME USER************************************/
/*******************************************************************************/

.home_user__form {
    text-align: center;
    line-height: 2rem;
    border-radius: 0rem 0rem 5rem 5rem;
    background: linear-gradient(var(--color-white) 18%, var(--color-bgc-button));
}
.home_user__form label:first-child {
    font-size: 1.5rem;
    color: var(--color-red);
}
.home_user__explain {
    text-align: center;
    margin: 1rem;
}
.home_user__explain p {
    font-family: 'Abel', sans-serif;
}
.home_user__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color:var(--color-black);
    margin: 1.25rem 0.625rem;
}
.home_user__defunct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}
.home_user__card {
    position: relative;
    margin: 0.313rem;
}
.home_user__card_delete {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}
.home_user__card_defunct {
    color:var(--color-black);
}
.home_user__img{
    width: 7rem;
    height: 7rem;
}
.home_user__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_user__contact_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0.938rem 1.875rem;
    border: 0.063rem solid black;
    border-radius: 0.63rem;
    padding: 0.63rem;
}
.home_user__contact_list a{
    color: var(--color-black);
}
.home_user__contact_title{
    text-align: center;
}
.home_user__mark {
    position: absolute;
    left: 1rem;
    top: 4rem;
}
.home_user__friend_container {
    position: relative;
    text-align: center;
    margin: 0.625rem;
}
.home_user__friend_mess {
    position: absolute;
    top: 0rem;
    right: 0rem;
}
.home_user__friend_img {
    width: 6.25rem;
    height: 6.25rem;
    margin: 0.625rem 0.625rem 0rem 0.625rem
}
.home_user__slider h1 {
    margin-bottom: 1.25rem;
}

/*****WINDOW HELP*****/
@keyframes showHelp {
    from {top:-6.25rem;opacity: 0;}
    to {top:29rem;opacity:1;}
}
.home_user__help {
    display: none; 
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.home_user__help:target {
    display: table;
    position: absolute;
}
.home_user__dialog {
    display: table-cell;
    text-align: justify;
    position: relative;
    top: 29rem;
    background-color: var(--color-white);
    width: 80%;
    animation-name: showHelp;
    animation-duration: 0.5s;
    margin: 0 auto;
    padding: 2rem;
}
.closebtn {
    float: right;
    font-size: 2.188rem;
    font-weight: bold;
    color: var(--color-black);
}
.closebtn:hover, .closebtn:focus {
    color: var(--color-black);
    cursor: pointer;
}
.home_user__text {
    font-size: 1.25rem;
    padding: 0.125rem 1rem;
}
.home_user__text p:first-child {
    font-weight: bold;
}

/*****home_user__slider / home_user__slider h1 / home_user__slick ->cf home */

/*******************************************************************************/
/***********************************CONTACT*************************************/
/*******************************************************************************/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact__title {
    text-align: center;
    margin: 1.25rem;
}
.contact__form .buttons {
    margin-top: 0.63rem;
}
textarea[name='message'] {
    margin: 1.25rem;
}
.contact__confirm {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}
/*******************************************************************************/
/**********************************CREATFORM************************************/
/*******************************************************************************/
.createform{
    margin: 2.5rem;
}
.createform__title {
    font-size: 1.7rem;
    margin: 1.875rem;
}
.createform__form {
    text-align: center;
    margin-bottom: 1.25rem;
}
.createform__info {
    line-height: 1.6rem;
    width: 80%;
    margin: 1.25rem auto;
    padding: 0.63rem;
}
select[name="affinity"]{
    margin: 1.25rem;
    width: 9.37rem;
}
.createform__message {
    text-align: center;
}

/*******************************************************************************/
/******************************ADMINISTRATION***********************************/
/*******************************************************************************/

.header_admin_title {
    position: relative;
    text-align: center;
    border: 0.2rem solid var(--color-bgc-button);
    padding: 1rem;
    margin-bottom: 2rem;
}
.admin_deco {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.admin_title{
    font-size: 1.5rem;
    text-align: center;
}
.admin_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_admin_user p {
    font-size: 0.8rem;
}
.admin_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 2rem;
}
.admin_nav .button-a {
    width: 7rem;
}
.admin_nav .button {
    padding: 0.5rem;
    color: var(--color-white);
}
.admin_nav li a {
    color: var(--color-black);
    margin: 0.2rem;
}
.admin_footer {
    height: 5rem;
    background-color: var(--color-white);
    margin-top: 2rem;
}
.admin_list {
    text-align: center;
}
.admin_table {
    width: 95%;
    font-size: 0.8rem;
}
.admin_table :is(th, td, tr){
    height: 2rem;
}
.admin_table th {
    background-color: var(--color-grey-light);
}
.admin_table a {
    font-size: 0.6rem;
}
.admin_show, 
.admin_update, 
.admin_delete {
    padding: 0.2rem;
    border: 0.2rem inset var(--color-grey-soft);
    color: var(--color-black);
    background-color: rgb(12, 255, 0);
}
.admin_update {
    background-color: rgb(255, 229, 0);
}
.admin_delete {
    background-color: var(--color-red);
}
.admin_infos {
    margin-left: 2.6rem;
}
/*****adminUsers*****/
.admin_show_users, .admin_update_users {
    width: 90%;  
    margin: 1rem auto;
}
.admin_update_users {
    width: 75%;
    text-align: center;
}

/*******************************************************************************/
/*********************************MEDIA QUERY***********************************/
/*******************************************************************************/

@media screen and (min-width: 481px) and (max-width : 767px){
/*****MAIN*****/
input {
    width: 15.625rem;
}
.button-a {
    width: 15.625rem;
}
/*****HEADER*****/
.header__title-h1 {
    font-size: 3.03rem;
}
/*****NAV*****/
.nav__bar {
    width: 10rem;
    right: -10rem;
}
.open {
    top: 3.5rem;
    right: 1rem;
}
/*****HOME_USER*****/
.home_user__img{
    width: 9rem;
    height: 9rem;
}
.slick-slide, 
.home__slick, 
.home_user__slick {
    height: 10.5rem;
}
/*****USER*****/
.user__mini_icons{
    margin: 1.25rem 0.48rem;
}
.user__photo {
    margin: 1.25rem 0 0 2.25rem;
}
.user__list_defuncts {
    margin: 0.5rem -1.5rem;
}
/*****ENVIRONMENT*****/
.env__folder {
    width: 7.375rem;
    height: 7.375rem;
}
.env__add_photo label:first-child {
    font-size: 1rem;
    }
.env__min_photo {
    width: 5.25rem;
    height: 5.25rem;
}
.friend_add {
        right: 4rem;
    }
/*****CREATEFORM*****/
.createform__title {
    font-size: 2rem;
    }
.createform__info {
    line-height: 2.1rem;
    }
/*****CARD*****/
.card h2 {
    font-size: 1.3rem;
}
/*****FLOWER*****/
.flower__article {
    font-size: 1.2rem;
}
.flower p:first-child {
    font-size: 0.9rem;
}
/*****TCHAT*****/
.tchat__container {
    height: 27rem;
}
/*****FOOTER*****/
.footer_menu, 
.footer_network {
    margin: 1rem;
    }
}
@media only screen and (min-width : 768px) {
    /*****MAIN*****/
    input {
        width: 16rem;
        height: 2.1rem;
    }
    .button-a {
        line-height:0;
        width: 16rem;
        padding: 1.2rem;
    }
    h1 {
        font-size: 1.9rem;
    }
    .dim20 {
        width: 1.5rem;
        height: 1.5rem;
    }
    .dim35 {
        width: 2rem;
        height: 2rem;
    }
    .dim40 {
        width: 2.2rem;
        height: 2.2rem;
    }
    .dim200 {
        width: 11.5rem;
    }
    /*****HEADER*****/
    .header {
        height: 13.4rem;
    }
    .header__title-h1 {
        font-size: 5rem;
        margin-top: 4.6rem;
    }
    /******NAV******/
    .nav__bar {
        height: 24rem;
        width: 11.5rem;
        right: -11.5rem;
    }
    .nav__bar-a {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }
    .nav__bar-open-span {
        width: 3rem;
        height: 0.4rem;
        margin: 0.5rem;
    }
    .nav__bar-open-p {
        font-size: 1rem;
    }
    .open {
        top: 6.5rem;
    }
    /*****HOME****/
    .home {
        width: 80%;
    }
    .home__article {
        font-size: 1.5rem;
    }
    .home__photo {
        height: 28rem;
        margin: 1.25rem auto;
    }
    .home__text, 
    .home__explain-p {
        font-size: 1.3rem;
    }
    .slick-slide, 
    .home__slick, 
    .home_user__slick {
        height: 12.5rem;
    }
    /*****HOME USER*****/
    .home_user__explain p {
        font-size: 1.2rem;
        width: 62%;
        margin: 0 auto;
    }
    .home_user__contact_list {
        width: 75%;
        margin: 0 auto;
    }
    .home_user__defunct {
        width: 86%;
    }
    .home_user__img {
        width: 10rem;
        height: 10rem;
    }
    /*****USER*****/
    .user {
        grid-template-rows: 5rem 5rem;
    }
    .user h3 {
        font-size: 1.5rem;
        margin-right: 10rem;
    }
    .user__button_menu {
        margin: 1rem;
    }
    .user__photo {
        width: 8rem;
        height: 8rem;
    }
    .user__icon {
        right: -0.5rem;
        bottom: -3.8rem;
    }
    .user__mini_icons {
        margin: 1.25rem 0.55rem;
    }
    .user__new {
        margin-left: 6rem;
    }
    .user__list_defuncts {
        margin: 1.9rem -0.5rem;
        padding: 1rem;
    }
    /*****ENVIRONMENT*****/
    .env__container {
       width: 70%;
    }
    .env__photos_list {
       width: 70%;
    }
    .env__folder {
        width: 8.375rem;
        height: 8.375rem;
    }
    .env__min_photo {
        width: 6.25rem;
        height: 6.25rem;
    }
    .env__add_photo label:first-child {
        font-size: 1.1rem;
    }
    .friend_add {
        right: 11rem;
    }
    /*****CARD*****/
    .card__form {
        width: 81%;
    }
    /*****FLOWER*****/
    .flower__article {
        font-size: 1.3rem; 
        width: 80%;
        margin: 3rem auto;
    }
    /*****TCHAT*****/
    .tchat {
        width: 65%;
    }
    .tchat__container {
        height: 28rem;
    }
    /*****PROFIL*****/
    .profil__modify_icon {
        right: 5rem;
    }
    /*****BUY*****/
    .buy__table {
        width: 80%;
    }
    .buy__form {
        width: 80%;
    }
    /*****FOOTER*****/
    .footer__menu-a {
        font-size: 1.2rem;
    }
    /*****ADMINISTRATION*****/
    .admin_nav {
        width: 80%;
        margin: 1rem auto;
    }
}
@media only screen and (min-width : 1024px) {
    /*****MAIN*****/
    h1 {
        font-size: 2.1rem;
    }
    hr {
        width: 70%;
    }
    input {
        height: 2.4rem;
        margin: 1.5rem;
    }
    /*****HEADER*****/
    .header {
        height: 16.9rem;
    }
    .header__title-h1 {
        font-size: 6rem;
        margin-top: 6rem;
    }
    /******NAV******/
    .nav__bar {
        right: -13.5rem;
        line-height: 1.7rem;
        height: 28rem;
        width: 13.5rem;
    }
    .nav__bar-a {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }
    .open {
        top: 9rem;
        right: 3rem;
    }
    /*****USER*****/
    .user__menu a {
        font-size: 1.3rem;
    }
    .user h3 {
        font-size: 1.7rem;
        margin-right: 12rem;
    }
    .user__mini_icons {
        margin: 1.25rem 0.6rem;
    }
    .user__myDefuncts {
        font-size: 1.3rem;
    }
    .user__new {
        margin-left: 12rem;
    }
    /*****HOME*****/
    .home {
        width: 70%;
        margin: 4rem auto;
    }
    .home__title {
        font-size: 1.7rem;
    }
    .home__container_photo {
        flex-direction: row;
        margin: 2.25rem;
    }
    .home__photo {
        width: 55%;
    }
    .home__text {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 2.2rem;
        width: 45%;
        margin-top: 0rem;
        padding: 1.25rem;
    }
    .slick-slide, 
    .home__slick, 
    .home_user__slick {
        height: 14.5rem;
    }
    /*****HOME USER*****/
    .home_user__defunct {
        width: 85%;
    }
    .home_user__contact_list {
        width: 70%;
    }
    /*****ENVIRONMENT****/
    .env__container {
        width: 55%;
    }
    .env__photos_list {
       width: 60%;
    }
    .friend_add {
        right: 17.5rem;
    }
    /*****CARD*****/
    .card {
        width: 80%;
    }
    .card__form {
        width: 72%;
    }
    .card__item {
        width: 30%;
    }
    /*****CREATFORM*****/
    .createform__info {
        width: 70%;
    }
    /*****TCHAT*****/
    .tchat {
        width: 60%;
        margin: 5rem auto;
    }
    .tchat__dest {
        line-height: 6rem;
    }
    .tchat__container {
        height: 31rem;
    }
    /*****PROFIL*****/
    .profil__modify_icon {
        right: 9rem;
    }
    /*****FLOWER*****/
    .flower__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 1rem;
    }
    /*****BUY*****/
    .buy__table {
        width: 70%;
    }
    .buy__form {
        width: 70%;
    }
    /*****FOOTER*****/
    .footer_menu, 
    .footer_network {
        margin:1.5rem;
    }
    /*****ADMINISTRATION*****/
    .admin_update_users {
        width: 70%;
    }
}
@media only screen and (min-width: 1280px) {
    /*****MAIN*****/
    main h1 {
        font-size: 2.5rem;
    }
    input {
        height: 2.4rem;
        margin: 1.5rem;
        width: 18rem;
    }
    .dim200 {
        width: 13.5rem;
    }
    .button-a {
        width: 18rem;
    }
    /*****HEADER*****/
    .header {
        height: 20rem;
    }
    .header__title-h1 {
        font-size: 7rem;
        margin-top: 7rem;
    }
    /******NAV******/
    .nav__bar {
        width: 15.5rem;
        right: -15.5rem;
        line-height: 2rem;
        height: 35rem;
    }
    .nav__bar-a {
        line-height: 3.3rem;
    }
    .open {
        top: 10rem;
    }
    /*****USER*****/
    .user h3 {
        font-size: 1.9rem;
        margin-right: 14rem;
    }
    .user__new {
        margin-left: 19rem;
    }
    /*****HOME*****/
    .home__intro {
        margin: 3.25rem auto;
    }
    /*****HOME USER*****/
    .home_user__explain p {
        width: 55%;
    }
    .home_user__defunct {
        width: 84%;
    }
    .home_user__contact_list {
        width: 65%;
    }
    /*****ENVIRONMENT****/
    .env__container {
        width: 50%;
    }
    .env__photos_list {
       width: 50%;
    }
    .friend_add {
        right: 24rem;
    }
    /*****CREATFORM*****/
    .createform__info {
        width: 65%;
    }
    /*****TCHAT*****/
    .tchat {
        width: 55%;
    }
    .tchat__container {
        height: 37rem;
    }
    /*****PROFIL*****/
    .profil__modify_icon {
        right: 12rem;
    }
    /*****FOOTER*****/
    .footer_menu, 
    .footer_network {
        margin:2rem;
    }
    .footer_menu-a {
        font-size: 1.4rem;
    }
    /*****FLOWER*****/
    .flower__article p:first-child {
        font-size: 1.5rem;
        width: 75%;
    }
    /*****BUY*****/
    .buy__table {
        width: 60%;
    }
    .buy__form {
        width: 60%;
    }
    /*****ADMINISTRATION*****/
    .admin_nav {
        width: 65%;
    }
    .admin_update_users {
        width: 65%;
    }
}
@media screen and (min-width: 1600px) {
    /*****MAIN*****/
    input {
        height: 2.6rem;
        margin: 1.6rem;
    }
    /*****HEADER*****/
    .header {
        height: 24.5rem;
    }
    .header__title-h1 {
        font-size: 8rem;
        margin-top: 8rem;
    }
    /******NAV******/
    .open {
        top: 13rem;
        right: 4rem;
    }
    /*****USER*****/
    .user h3 {
        font-size: 2rem;
        margin-right: 19rem;
    }
    .user__new {
        margin-left: 27rem;
    }
    /*****HOME*****/
    .home {
        width: 65%;
    }
    .home__title {
        font-size: 2rem;
    }
    /*****HOME USER*****/
    .home_user__defunct {
        width: 80%;
    }
    .home_user__contact_list {
        width: 60%;
    }
    /*****ENVIRONMENT*****/
    .env__container {
        width: 45%;
    }
    .friend_add {
        right: 32rem;
    }
    /*****CREATFORM*****/
    .createform__info {
        width: 60%;
    }
    /*****PROFIL*****/
    .profil__modify_icon {
        right: 17rem;
    }
    /*****FLOWER*****/
    .flower__article {
        width: 70%;
    }
    /*****ADMINISTRATION*****/
    .admin_nav {
        width: 55%;
    }
    .admin_update_users {
        width: 50%;
    }
}
