/****************************Variables****************************/
:root {
    --color-black:rgb(0,0,0);
    --color-white:rgb(255,255,255);
    --color-red:rgb(255,0,0);
    --color-blue-hard:rgb(14, 19, 73);
    --color-grey:rgb(180,180,180);
    --color-grey-soft:rgb(161, 161, 161);
    --color-grey-middle:rgb(125, 115, 125);
    --color-grey-light:rgb(197, 196, 237);
    --color-green:rgb(44, 114, 6);
    --color-bgc-button:rgb(60,59,135);
    --color-menu-user:rgb(139,147,201);
    --color-user:rgb(181 181 203);
}
/***************************Globals Class***************************/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Abel', sans-serif;
}
label {
    display:block;
}
input {
    width: 250px;
    height: 40px;
    margin:20px;
}
h1 {
    font-size: 30px;
    text-align:center;
}
h2 {
    text-align:center;
    margin-bottom:20px;
}
hr {
    margin:0 auto;
    width: 90%;
}
nav {
    font-weight: bold;
}
#begin {
    background-color: var(--color-bgc-button);
}
.hidden {
    display:none !important;
}
.img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.button {
	cursor:pointer;
	color:var(--color-white);
	background-color: var(--color-bgc-button);
	padding:7px 25px;
	text-decoration:none;
	text-align:center;
}
.ahref {
    width: 250px;
    height: 40px;
    margin: 20px;
    border: 2px outset #7a7474;
}
#submit {
    margin:30px;
}
.form {
    color:black;
    margin:0 auto;
    width: 80%;

}
.title {
    color:var(--color-black);
    font-size: 40px;
    margin:20px;
}
.m20 {
    margin: 20px;
}
.message {
    text-align:center;
    color: var(--color-red);
    font-weight: bold;
}
/************************Global dimension**************************************/
.dim200 {
    width: 200px;
}
.dim100 {
    display:flex;
}
.dim80 {
    width: 80px;
    height: 80px;
}
.dim60 {
    width: 60px;
    height: 60px;
}
.dim50 {
    width: 50px;
    height: 50px;
}
.dim40 {
    width: 40px;
    height: 40px;
}
.dim35 {
    width: 35px;
    height: 35px;
}
.dim20 {
    width: 20px;
    height: 20px;
}
.dim10 {
    width: 10px;
    height: 10px;
}

/*********************************Header***************************************/

.page_header {
    background-image: url("../pictures/site/fond2.jpg");
    background-size:cover;
    height:165px;
}
.title_container {
    display:flex;
    justify-content:center;
}
.title_container h1 {
    text-shadow:0 0 3px white;
    color:var(--color-blue-hard);
    font-weight: bold;
    font-size: 65px;
    margin-top:45px;
}
/**************************Navbar and Hamburger Menu***************************/
.navbar {
    width: 185px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: -250px;
    background-color: var(--color-white);
    padding-top: 20px;
    transition: right 0.5s ease;
}
.navbar a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    color: var(--color-bgc-button);
    display: block;
    transition: all 0.3s;
}
.navbar a:hover {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-bgc-button);
}
.navbar ul {
    list-style: none;
}
.navbar.status {
    position:absolute;
    right: 0px;
}
.navbar .close {
    position: absolute;
    top: 0px;
    right: 2px;
    font-size: 55px;
}
.burger-icon {
    text-align:center;
    position:absolute;
    top:80px;
    right:20px;
}
.burger-icon span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: var(--color-white);
    margin: 6px 0;
}
.burger-icon p {
    color: var(--color-white);
}
/************************Home************************************/
.container_home {
    margin-top:50px;
}
.container_home p {
    text-align:justify;
    font-size: 25px;
}
.container_home_photo, .container_home_text, .container_home_card, .container_home_flower {
    margin-bottom:45px;
}
.home_photo {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    padding:5px;
}
.home_text {
    text-align:justify;
    width: 80%;
}
.home_start {
    margin:0 auto;
    width: 95%;
    text-align:center;
}
.home_start h1 {
    font-size: 35px;
    text-align: center;
    margin:15px;
}
.home_start_text {
    padding: 10px;
    margin-bottom:20px;
    font-size: 22px;
}
.home_button {
    text-align:center;
}
.home_member h1, .home_write h1, .home_send h1, .home_flower h1 {
    font-size: 30px;
    margin:30px;
}
.container_explain {
    margin:25px;
    width: 90%;
}
.container_explain p {
    padding: 10px;
    margin-bottom:25px;
}
.container_explain h1 {
    font-size: 30px;
}
.explain_input {
    text-align:center;
    margin:10px;
}
/*.icon_home, .icon_help, .icon_log {
    width: 50px;
}
*/
.icon_home {
    margin: 0 10px;
}

/***********************************Slider**************************************/
.container_slider{
    display:flex;
    flex-direction:column;
}
.container_slider h1 {
    margin-bottom:20px;
}
.slider {
    width: 90%;
}
.slick-slide {
    height: 200px;
}

.home_slick {
    height:200px;
}
/**********************Environnement Formulaires*********************************/
/***Connexion -- Contact -- Register -- Payement***/

.title_connexion.title, .title_register.title, .title_createform.title, .title_profil.title {
    margin:30px
}
.connexion_form, .register_form, .createform_form, .profil_form {
    text-align:center;
    margin-bottom:20px;
}

.buttons {
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items: center;
}
/***Contact***/
.contact_form .buttons {
    margin-top:10px;
}
/***CreateForm***/
.title_createform.title {
    font-size: 40px;
}
.container_createform{
    margin-top: 40px;
}
#code_p {
    margin-bottom:20px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
}
input[type="file"] {
    width: 145px;
    height: 30px;
    margin-bottom:10px;
}
select[name="affinity"]{
    margin: 20px;
    width: 150px;
}
.more_info {
    margin-bottom:20px;
}
/***Search***/
.search_form {
    line-height:60px;
    text-align:center;
}
.search_form input, .search_insee input {
    width: 210px;
}
.search_mess {
    text-align:center;
    margin:20px;
    color:var(--color-red);
    font-weight: bold;
}
input[value="Rechercher"] {
    margin-bottom:30px;
}
.container_insee {
    display:flex;
    justify-content:center;
}
.search_insee {
    text-align:center;
    width: 90%;
}
.defunct_identity {
    display:flex;
    justify-content:center;
    text-align:center;
    margin:20px;
}
.defunct_img {
    display:flex;
    flex-direction:column;
    height: 200px;
    width: 150px;
}
.result_insee {
    width: 90%;
}
/***Profil***/
.title_profil.title {
    font-size: 38px;
}
.profil_icon {
    width: 50px;
    height: 50px;
    margin:0 auto;
}
.profil.form {
     margin-top: 50px;
}
.profil_admin {
    margin-bottom:20px;
}

/***Buy***/
.pay {
    text-align:center;
    width: 70%;
    margin: 0 auto;
}
.form_pay {
    margin: 20px;
}
.buy_mess {
    text-align:center;
}
.table_buy, .table_death {
    border-collapse:collapse;
    border:1px solid var(--color-black);
    text-align:center;
    width: 90%;
    margin: 20px auto;
}
.table_buy tr, .table_buy td, .table_death td, .table_death tr {
     border:1px solid var(--color-black);
}
.tab_content {
    overflow-x: scroll;
    height: 50px;
}

/***Cartes + Editor***/
.container_card {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    margin-bottom: 20px;
}
.container_card h1+h2{
    width: 100%;
    margin:20px;
    transition:1s all;
}
.labelRadio {
    margin: 20px 0px -20px 5px;
}
.cards_item {
    display:flex;
    flex-direction: column;
    margin: 10px;
    width: 130px;
    border:1px solid var(--color-grey-middle);
    overflow:hidden;
}
.card_image {
    width: 130px;
    height: 130px;
}

.card_image .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cards_button {
    text-align:center;
    text-decoration:none;
    padding: 5px;
    color: var(--color-white);
    background-color: var(--color-grey-middle);
}
.card_no_user {
    text-align:center;
    margin: 20px;
}

.tab_card {
    width: 75%;
}

.tab_price {
    width: 25%;
}
.tab_empty {
    padding: 2px 5px;
}
.empty_cart {
    text-align:center;
    font-size: 30px;
}
.container_editor {
    margin:0 auto;
}
.main_editor {
    text-align:center;
    border:1px solid var(--color-grey-middle);
    margin:10px;
    padding: 5px;
}
.editor_header {
    background-color: var(--color-grey-light);
}
.editor_header .button_edit {
    border:none;
    background-color: transparent;
    margin-right:5px;
    cursor:pointer;
}
.main_content {
    width: 300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    transform:translateY(-50%);
}
.content {
    min-height:400px;
    border:1px solid var(--color-grey-light);
    padding: 10px;
    z-index:1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.select_img {
    opacity:.5;
    z-index:2;
}
.card_info {
    text-align:center;
}
.card_address, .min_nophoto {
    font-size: 20px;
}
.card_price {
    text-align: center;
    margin: 25px auto;
}
.card_price input{
    width: 50px;
}
.verif_send {
    color:var(--color-red);
}
.table_card {
    border-collapse:collapse;
    border:1px solid var(--color-black);
    text-align:center;
    width: 80%;
    margin:0 auto;
}
.table_card th, .table_card td {
    border:1px solid var(--color-black);
}
.table_card tr:nth-child(odd) {
    background-color: var(--color-grey-light);
}

/**********************User***************************************/
.user_form {
    position:relative;
}
.form_user {
    position:relative;
}
.container_user {
    display:grid;
    grid-template-areas: "user title title title" 
        "user . icon_n icon_f";
    grid-template-rows:75px 75px;
    grid-template-columns:25% 25% 25% 25%;
    justify-items: center;
    background-color: rgba(81, 102, 123,.5);
}
.container_photo_user {
    grid-area:user;
    margin: 20px 0 0 20px;
    width: 120px;
    height: 120px;
    border:1px solid var(--color-black);
    border-radius:50%;
    overflow:hidden;
}
#photo_user {
    position:relative;
    left:-500px;
}
.container_user h3 {
    grid-area:title;
    align-self: end;
    margin-right: 80px;
}
.user_new {
    grid-area:icon_n;
}
.user_fix {
    grid-area:icon_f;
}
.user_icon {
    position: absolute;
    right: -10px;
    bottom: -55px;
    margin-top:20px;
    border-radius: 50%;
    padding: 3px;
}
.bouton_user {
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
    background-color: var(--color-bgc-button);
}
.button.button_myDefuncts {
    position:relative;
    text-align:center;
    text-decoration:none;
    color:var(--color-white);
}
.list_defuncts {
    position: absolute;
    top: 66px;
    left: -20px;
    background-color: var(--color-bgc-button);
    color: var(--color-white);
    z-index: 10;
    width: 150px;
}
.name_defuncts {
    display:block;
    margin:15px 2px;
    text-decoration:none;
    color:var(--color-white);
}
.name_defuncts:hover {
    color:var(--color-grey-soft);
}
.user_home, .user_logoff, .user_message, .user_friend {
    flex-direction: column;
    display: flex;
    position:relative;
    text-decoration:none;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px 10px;
}
.env_listing {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.new_comments, .new_photos {
    font-size: 18px;
}
.admin_user {
    text-align:center;
    font-size: 20px;
}
.friend_mess {
    text-align:center;
    color:var(--color-red);
    font-weight: bold;
}
.ask_friend {
    text-align:center;
    width: 75%;
    margin:0 auto;
}
.number_f, .number_m {
    position:absolute;
    color:var(--color-red);
    font-weight: bold;
    left: 25px;
}

/**********************Home user***************************/

.home_user_explain {
    text-align:center;
    margin:30px;
}
.defunct_home_user {
    display:flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    margin:20px;
}
.home_user_card {
    margin:5px;
}
.card_img{
    height: 200px;
}
.card {
    text-decoration:none;
    color:var(--color-black);
}
.list_home_user {
    display:flex;
    flex-direction: column;
    align-content: center;
    flex-wrap:wrap;
    text-align:center;
    text-decoration:none;
    color:var(--color-black);
    margin:20px 10px;
}
.myContact {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.container_contact {
    display:flex;
    justify-content:center;
    text-align:center;
}
.contact_title{
    text-align:center;
}
.contacts_list {
    display:flex;
    justify-content:center;
    margin: 15px 45px;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.friend {
    text-decoration:none;
    color:var(--color-black);
}
.friend_container {
    position:relative;
    margin: 10px;
}
.friend_list {
    height: 80px;
    margin: 10px 10px 0px 10px
}
.friend_name a{
    text-decoration:none;
    color:var(--color-black);
}
.add_friend {
    display:flex;
    justify-content:center;
}
.add_mess {
    text-align: center;
}
.icon_mark{
    position:absolute;
    left:10px;
    top: 40px;
}
/**********************Environnement utilisateur***************************/
.folder {
    margin:0 auto;
    width: 150px;
    height: 150px;
}
.folder_link {
    text-align:center;
    text-decoration:none;
    color: var(--color-black);
}
.photos_list {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 25px;
    border:1px solid var(--color-black);
}
.min_photo {
    text-align:center;
    width: 100px;
    height: 100px;
    margin:20px;
}
.min_photo p {
    display:block;
    text-align:center;
}
.container_environnement {
    margin-top:20px;
}
.env_date {
    display:flex;
    justify-content:center;
}
.cross {
    width: 50px;
}
.env_defunct {
    margin:50px;
}
#photo_defunct {
   min-height:50px;
   border:1px solid var(--color-black);
}
.env_defunct h2 {
    text-align:center;
    color:var(--color-black);
    margin-bottom:40px;
}
.env_no_user{
    text-align:center;
}
.div_photo, .div_comment{
    position:relative;
    margin:0 auto;
}
.container_last {
    display:flex;
    flex-wrap:wrap;
    margin:20px auto;
    justify-content:center;
    width: 90%;
    border:1px solid black;  
}
.last_photos, .last_comment {
    width: 50px;
    height: 50px;
    margin:3px;
}
.delete_photo {
    position:absolute;
    right:1px;
    padding: 2px;
    margin:5px;
    text-decoration:none;
    color: var(--color-black);
}
.com_div {
    margin-top:10px;
    min-height:50px;
}
.icon_env {
    display:flex;
    justify-content:center;
    align-items: center;
    margin:30px;
}
.fa-trash-alt {
    color:var(--color-blue-hard);
}
.comment_post {
    position: relative;
}

.new_comment {
    position: absolute;
    right: 5px;
    top: -2px;
    width: 50px;
    height: 50px;
}
.blur {
    filter: blur(5px);
}
.comment {
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}
.profil {
    width: 50px;
    height: 50px;
    border-radius:50px;
    overflow:hidden;
}
.container_com_user {
    position:relative;
    display:flex;
    align-items:center;
    background-color: var(--color-grey-light);
    border-radius:20px;
    padding:5px 10px;
    margin:5px;
    overflow: hidden;
}
.icon_delete {
    position:absolute;
    right:10px;
}
#file_env {
    position:absolute;
    left:-500px;
}
textarea[name="comment"]{
    width: 458px;
    margin: 10px;
}
label[for="comment"]{
    text-align:center;
    margin-bottom:20px;
}
.env_user_name {
    font-size: 15px;
    color: var(--color-black);
}
.env_listing span {
    color:var(--color-red);
}
/**************************help window**************************/
@keyframes showHelp {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
.container_help {
    display: none; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.container_help:target {
    display: table;
    position: absolute;
}
.help-dialog {
    display: table-cell;
     vertical-align: middle;
}
.help-dialog .help-content {
    margin: auto;
    background-color: var(--color-white);
    position: relative;
    padding: 0;
    text-align: justify;
    width: 80%;
    animation-name: showHelp;
    animation-duration: 0.5s;
}
.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-black);
}
.closebtn:hover,
.closebtn:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}
.container_help_text {
    font-size: 20px;
    padding: 2px 16px;
}
.container_help_text p:first-child {
    font-weight: bold;
}

/**********************Lost**************************************/
.message_email {
    color: var(--color-red);
    font-weight: bold;
}
.lost_form {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin:20px;
}
.newpass {
    text-align:center;
}

/*
.lost_inscription {
    text-decoration:none;
    border:1px solid rgb(0, 0, 0);
    color:var(--color-blue-hard);
    padding: 3px;
}
/***********************Flowers*********************************/
.flower_form {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 200px;
    height: 200px;
    margin:0 auto;
}
.box_flower {
    width: 200px;
}
.container_flower input[type="checkbox"] {
    width: 20px;
}
.container_flower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin:20px;
}
.fleur1 {
    grid-column:1;
    grid-row:1;
}
.fleur2 {
    grid-column:2;
    grid-row:1;    
}
.fleur3 {
    grid-column:1;
    grid-row:2;    
}
.fleur4 {
    grid-column:2;
    grid-row:2;    
}
.fleur5 {
    grid-column:1;
    grid-row:3;     
}
.fleur6 {
    grid-column:2;
    grid-row:3;     
}
.fleur7 {
    grid-column:1;
    grid-row:4;     
}
.fleur8 {
    grid-column:2;
    grid-row:4;     
}
.fleur9 {
    grid-column:1;
    grid-row:5;     
}
.fleur10 {
    grid-column:2;
    grid-row:5;     
}
.fleur11 {
    grid-column:1;
    grid-row:6;     
}
.fleur12 {
    grid-column:2;
    grid-row:6;     
}
.fleur13 {
    grid-column:1;
    grid-row:7;     
}
.fleur14 {
    grid-column:2;
    grid-row:7;     
}
.fleur15 {
     
}
/***************************Tchat*********************************/

.tchat {
    display:flex;
    text-align:center;
}
.dest_tchat {
    background-color: var(--color-bgc-button);
    color: var(--color-white);
    line-height: 50px;
    border-radius: 30px 30px 0px 0px;
    margin-left: 35px;
    padding-left: 25px;
    width: 85%;
}
.container_tchat {
    text-align:left;
    border:1px solid var(--color-black);
    border-bottom-right-radius: 30px;
    width: 60%;
}
.content_tchat {
    display:flex;
    justify-content:center;
}
.tchat_user {
    text-align:center;
}
#content_tchat {
    border-radius:20px;
    width: 450px;
    padding-left: 10px;
}
.my_tchat {
    background-color: var(--color-grey-light);
    border-radius:10px;
    width: 80%;
    padding: 3px;
    margin: 3px;
}
.recipient {
    position:relative;
    width: 120px;
    border-bottom-left-radius: 220px;
    margin-left: 35px;
    overflow:hidden;
}
#my_content {
    overflow: scroll;
    height: 470px;
    padding: 8px;
}
.tchat_date {
    font-size: 12px;
    margin: 5px 0px 10px;
}
.tchat_return {
    background-color: var(--color-grey-light);
    text-align:right;
    padding: 2px 20px;
    border-radius:20px;
}
.tchat_friend {
    background-color: var(--color-bgc-button);
    color: var(--color-white);
    padding: 2px 20px;
    border-radius:20px;
}
.online, .offline {
    position:absolute;
    top:5px;
    left:5px;
    width: 15px;
    height: 15px;
    background-color: rgb(84, 191, 42);
    border-radius:20px;
}
.offline {
    background-color: var(--color-red);
}
/**********************Footer************************************/
.footer {
    background-color: var(--color-bgc-button);
}
.icon{
    margin-left:258px;
}
.fa-facebook-square, .fa-instagram-square, .fa-twitter-square{
    margin:2px;
    color: var(--color-white);
}
.footer {
    display:flex;
    justify-content: space-around;
    color: var(--color-white);
}
.footer p {
    padding: 10px;
}
.menu_footer, .network {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    margin:15px;
    width: 40%;
}
.menu_footer {
    align-items: flex-start;
}
.menu_footer a {
    text-decoration:none;
    color: var(--color-white);
}
/***********************Animation icones Ajout Contact et Message**************/
.icon_anim {
    animation: myIcons 2s ease 0s infinite normal none;
}
@keyframes myIcons {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}
	10% {
		animation-timing-function: ease-in;
		transform: scale(0.88);
	}
	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}
	33% {
		animation-timing-function: ease-in;
		transform: scale(0.85);
	}
	45% {
		animation-timing-function: ease-out;
		transform: scale(1.3);
	}
}

/**********************Media Queries******************************/
@media screen and (min-width:480px){
    
}
@media screen and (min-width:768px){
    .navbar {
        width: 200px;
    }
    .page_header {
        height:265px;
    }
    .title_container h1 {
        font-size: 95px;
    }
    .burger-icon {
        right:40px;
    }
    .burger-icon span {
        width: 50px;
        height: 6px;
    }
    .container_photo_user {
        margin-top: 10px;
        margin-left: 15px;
        width: 130px;
        height: 130px;
    }
    .container_home {
        width: 80%;
        margin:0 auto;
    }
    .container_home  h1 {
        font-size: 35px;
        margin:20px;
    }
    .container_home p {
        font-size: 25px;
        padding: 20px;
    }
    .list_defuncts {
        top: 37px;
        left: -12px;
    }
    .home_photo {
        height:460px;
    }
    .home_start {
        width: 90%;
    }
    .home_start_text {
        font-size: 23px;
    }
    .div_photo, .div_comment {
        width: 90%;
    }
    .fa-user {
        margin-right: -20px;
    }
    .card_img{
        width: 180px;
    }
    .icon_home {
        margin-left: 15px;
    }
    .container_editor {
        width: 574px;
    }
    .container_user h3 {
        margin-right: 160px;
        font-size: 30px;
    }
    .user_new {
        margin-left: 155px;
    }
    .user_fix {
        margin-left: 20px;
    }
    .env_listing {
        flex-direction:row;
        justify-content:space-around;
        margin: 20px;
    }
    .container_tchat {
        width: 60%;
    }
    #content_tchat {
        width: 460px;
        padding-left: 20px;
    }
}
@media screen and (min-width:1024px){
    .page_header {
        height: 350px;
    }
    .title_container h1 {
        font-size: 110px;
        margin-top: 85px;
    }
    .burger-icon {
        top: 138px;
        font-size: 25px;
    }
    .burger-icon span {
        width: 67px;
        height: 8px;
    }
    .navbar {
        width: 210px;
    }
    .navbar ul {
        list-style: none;
        font-size: 20px;
    }
    .container_photo_user {
        width: 140px;
        height: 140px;
        margin: 10px;
    }
    .container_user h3 {
        margin-right: 225px;
        font-size: 40px;
    }
    .user_new {
        margin-left: 320px;
    }
    .user_fix {
        margin-left: 55px;
    }
    .container_home h1 {
        font-size: 40px;
        margin: 40px;
    }
    .first_photo, .second_photo, .third_photo, .four_photo {
        display:flex;
        margin: 60px;
    }
    .container_home p {
        font-size: 30px;
    }
    .list_defuncts {
        top: 40px;
    }
    .form {
        width: 60%;
    }
    .div_photo, .div_comment {
        width: 70%;
    }
    .bouton_user {
        justify-content: center;
    }
    .fa-user {
        margin-right: -155px;
    }
    .user_icon {
        right: -2px;
    }
    .container_editor {
        width: 595px;
    }
    .list_home_user {
        width: 70%;
        margin: 20px auto;
    }
    #content_tchat {
    width: 610px;
    padding-left: 30px;
    
}

